
/* chunks of this stolen and repurposed from
   _|   _ \   __|    __|
  |    __/   _|   \__ \        _|  (_-<  (_-<
___|  _|    _|    ____/  _)  \__|  ___/  ___/

See: https://github.com/ipfs-shipyard/ipfs-css

General guidelines from the IPFS Brand Sheet:
https://www.figma.com/proto/mH0OlgikgKzLmbMNO3noBs/IPFS-Brand-sheet-public?node-id=22%3A2
*/

@import 'normalize.css';

@font-face {
  font-family: 'Plex';
  font-style:  normal;
  font-weight: 100;
  src: local('IBM Plex Sans'),
    local('IBM-Plex-Sans'),
    url('fonts/IBMPlexSans-Thin.ttf') format('opentype');
}
@font-face {
  font-family: 'Plex';
  font-style:  italic;
  font-weight: 100;
  src: local('IBM Plex Sans'),
    local('IBM-Plex-Sans'),
    url('fonts/IBMPlexSans-ThinItalic.ttf') format('opentype');
}

@font-face {
  font-family: 'Plex';
  font-style:  normal;
  font-weight: 200;
  src: local('IBM Plex Sans'),
    local('IBM-Plex-Sans'),
    url('fonts/IBMPlexSans-ExtraLight.ttf') format('opentype');
}
@font-face {
  font-family: 'Plex';
  font-style:  italic;
  font-weight: 200;
  src: local('IBM Plex Sans'),
    local('IBM-Plex-Sans'),
    url('fonts/IBMPlexSans-ExtraLightItalic.ttf') format('opentype');
}

@font-face {
  font-family: 'Plex';
  font-style:  normal;
  font-weight: 300;
  src: local('IBM Plex Sans'),
    local('IBM-Plex-Sans'),
    url('fonts/IBMPlexSans-Light.ttf') format('opentype');
}
@font-face {
  font-family: 'Plex';
  font-style:  italic;
  font-weight: 300;
  src: local('IBM Plex Sans'),
    local('IBM-Plex-Sans'),
    url('fonts/IBMPlexSans-LightItalic.ttf') format('opentype');
}

@font-face {
  font-family: 'Plex';
  font-style:  normal;
  font-weight: 400;
  src: local('IBM Plex Sans'),
    local('IBM-Plex-Sans'),
    url('fonts/IBMPlexSans-Regular.ttf') format('opentype');
}
@font-face {
  font-family: 'Plex';
  font-style:  italic;
  font-weight: 400;
  src: local('IBM Plex Sans'),
    local('IBM-Plex-Sans'),
    url('fonts/IBMPlexSans-Italic.ttf') format('opentype');
}

@font-face {
  font-family: 'Plex';
  font-style:  normal;
  font-weight: 500;
  src: local('IBM Plex Sans'),
    local('IBM-Plex-Sans'),
    url('fonts/IBMPlexSans-Medium.ttf') format('opentype');
}
@font-face {
  font-family: 'Plex';
  font-style:  italic;
  font-weight: 500;
  src: local('IBM Plex Sans'),
    local('IBM-Plex-Sans'),
    url('fonts/IBMPlexSans-MediumItalic.ttf') format('opentype');
}

@font-face {
  font-family: 'Plex';
  font-style:  normal;
  font-weight: 600;
  src: local('IBM Plex Sans'),
    local('IBM-Plex-Sans'),
    url('fonts/IBMPlexSans-SemiBold.ttf') format('opentype');
}
@font-face {
  font-family: 'Plex';
  font-style:  italic;
  font-weight: 600;
  src: local('IBM Plex Sans'),
    local('IBM-Plex-Sans'),
    url('fonts/IBMPlexSans-SemiBoldItalic.ttf') format('opentype');
}

@font-face {
  font-family: 'Plex';
  font-style:  normal;
  font-weight: 700;
  src: local('IBM Plex Sans'),
    local('IBM-Plex-Sans'),
    url('fonts/IBMPlexSans-Bold.ttf') format('opentype');
}
@font-face {
  font-family: 'Plex';
  font-style:  italic;
  font-weight: 700;
  src: local('IBM Plex Sans'),
    local('IBM-Plex-Sans'),
    url('fonts/IBMPlexSans-BoldItalic.ttf') format('opentype');
}

:root {
  --ipfs-sans-serif: 'Plex', system-ui, sans-serif;
  --ipfs-monospace: Consolas, monaco, monospace;

  --ipfs-dark-blue: #0d1644;
  --ipfs-steel-grey: #2d3662;
  --ipfs-ash-grey: #616785;
  --ipfs-stone-grey: #c4c7d6;
  --ipfs-pearl-grey: #f5f7fd;
  --ipfs-off-white: #f0f6f9;
  --ipfs-navy: #073a53;
  --ipfs-teal: #6bc4ce;
  --ipfs-turquoise: #47afb4;
  --ipfs-jade: #3b8c90;
  --ipfs-yellow: #f39106;
  --ipfs-carmine: #e9502f;
  --ipfs-bright: #06f391;

  --ipfs-brand-gradient: linear-gradient(to top right, var(--ipfs-navy), #43979b);
  --ipfs-gradient-0-background-image: linear-gradient(to top, #041727 0%,#043b55 100%);

  --ipfs-text: #0b2c41;
  --thin: 100;
  --weight-extra-light: 200;
  --weight-light: 300;
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-semi-bold: 600;
  --weight-bold: 700;
  --size-h1: 3.125rem;
  --size-h2: 2.25rem;
  --size-h3: 1.875rem;
  --size-h4: 1.75rem;
  --size-h5: 1.25rem;
  --size-p: 1rem;
  --size-mono: 0.75rem;

  --bg: var(--ipfs-off-white);
  --fg: var(--ipfs-text);
  --stark-bg: #fff;
  --stark-fg: #000;
  --max-readable-width: 50rem;
  --max-page-width: 82rem;
  --heading-family: var(--ipfs-sans-serif);
  --body-family: var(--ipfs-sans-serif);
  --highlight-colour: var(--ipfs-turquoise);
  --highlight-colour-faded: var(--ipfs-teal);
  --secondary-highlight: var(--ipfs-bright);
  --link-colour: var(--highlight-colour);
  --issue-colour: var(--ipfs-carmine);
  --warning-colour: var(--ipfs-yellow);
  --example-colour: var(--ipfs-ash-grey);
  --note-colour: var(--secondary-highlight);
  --standard-gradient: linear-gradient(to right, var(--highlight-colour), var(--secondary-highlight));
  --contrast-bg: transparent;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: var(--ipfs-text);
    --fg: var(--ipfs-off-white);
    --stark-bg: #000;
    --stark-fg: #fff;
    --link-colour: var(--ipfs-yellow);
    --contrast-bg: var(--fg);
  }
}

html {
  background: var(--bg);
  color: var(--fg);
}
* {
  box-sizing: border-box;
}
