
@import 'normalize.css';

@font-face {
  font-family: "Catamaran";
  src: url("/fonts/Catamaran-VariableFont_wght.ttf");
  font-style: normal;
}
@font-face {
  font-family: "Mulish";
  src: url("/fonts/Mulish-VariableFont_wght.ttf");
  font-style: normal;
}
@font-face {
  font-family: "Mulish";
  src: url("/fonts/Mulish-Italic-VariableFont_wght.ttf");
  font-style: italic;
}

:root {
  --bg: #fff;
  --max-readable-width: 50rem;
  --heading-family: Catamaran, sans-serif;
  --body-family: Mulish, sans-serif;
  --text-colour: #000;
  --highlight-colour: rgb(26, 83, 217);
  --highlight-colour-faded: rgba(26, 83, 217, 0.5);
  --secondary-highlight: rgb(60, 207, 135);
}

html {
  background: var(--bg);
}
