
@import url(core.css);
@import 'prismjs/themes/prism-coy.css';

body {
  max-width: var(--max-readable-width);
  margin: 0 auto;
  padding: 1rem 0 0 0;
  background-image: url(ipfs-standards.svg);
  background-repeat: no-repeat;
  background-size: 100px;
  background-position-x: right;
  background-position-y: 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  font-family: var(--body-family);
  font-weight: 300;
}

header {
  margin-bottom: 4rem;
}
header dt {
  font-weight: 300;
}
header dd img {
  opacity: 0.5;
  transition: opacity .5s;
}
header dd img:hover {
  opacity: 1;
}
header dd a {
  text-decoration: none;
}

h1 {
  font-family: var(--heading-family);
  max-width: calc(100% - (100px + 1rem));
  font-size: 3rem;
  margin: 0.15rem 0 0 0;
}
h2 {
  font-size: 1.4rem;
}
p#last-modified {
  color: var(--highlight-colour);
  margin-top: -1rem;
  font-size: 1.6rem;
}

a {
  color: var(--highlight-colour);
}

.toc, .toc ol, .toc ul, .toc li {
  line-height: 1.1em;
  list-style: none;
  margin: 0;
  padding: 0;
}
.toc li {
  clear: both;
}
.toc > li {
  margin: 1.5rem 0;
  font-weight: bold;
}
.toc > li li {
  margin: 0.3rem 0;
}
.toc > li li {
  font-weight: normal;
}
.toc a {
  padding: 0.1rem 1px 0;
  display: block;
  text-decoration: none;
  color: var(--text-colour);
}
.toc a:hover, .toc a:focus {
  color: var(--highlight-colour);
}
#toc .toc .secno {
  margin-left: -4rem;
}
.toc .secno {
  float: left;
  width: 4rem;
  white-space: nowrap;
}
body:not(.toc-inline) :not(li) > .toc {
  margin-left: 4rem;
}

:is(h2, h3, h4, h5, h6):not(#toc > h2) {
  position: relative;
  left: -.5em;
}
.header-wrapper {
  display: flex;
  align-items: baseline;
}
:is(h2, h3, h4, h5, h6) + a.self-link {
  color: inherit;
  order: -1;
  position: relative;
  left: -1.1em;
  font-size: 1rem;
  opacity: .5;
}
:is(h2, h3) + a.self-link {
  top: -.2em;
}
:is(h2, h3, h4, h5, h6) + a.self-link::before {
  content: "§";
  text-decoration: none;
  color: var(--secondary-highlight);
}

dfn {
  font-weight: bolder;
}

/* override Prism */
pre[class*="language-"]::before, pre[class*="language-"]::after {
  box-shadow: none;
}
pre[class*="language-"] > code {
  border-left-width: 0.4rem;
}
code, kbd, samp, pre[class*="language-"] > code {
  font-size: 0.9rem;
}

div.issue, div.warning, div.note, div.example {
  border-left: 0.4rem solid;
  padding-left: 0.6rem;
  position: relative;
}
div.issue { border-color: var(--issue-colour); }
div.warning { border-color: var(--warning-colour); }
div.note { border-color: var(--note-colour); }
div.example { border-color: var(--example-colour); }
div.issue::before, div.warning::before, div.note::before, div.example::before {
  display: block;
  position: absolute;
  left: -2rem;
  font-size: 0.8rem;
  writing-mode: sideways-lr;
  white-space: nowrap;
}
div.issue::before { content: "issue 🚧"; }
div.warning::before { content: "warning ⚠️"; }
div.note::before { content: "note 📔"; }
div.example::before { content: "eg. 🐈"; }
