
@import 'normalize.css';

@font-face {
  font-family: "Catamaran";
  src: url("/fonts/Catamaran-VariableFont_wght.ttf");
  font-style: normal;
}
@font-face {
  font-family: "Mulish";
  src: url("/fonts/Mulish-VariableFont_wght.ttf");
  font-style: normal;
}
@font-face {
  font-family: "Mulish";
  src: url("/fonts/Mulish-Italic-VariableFont_wght.ttf");
  font-style: italic;
}

:root {
  --bg: #fff;
  --max-readable-width: 50rem;
  --heading-family: Catamaran, sans-serif;
  --body-family: Mulish, sans-serif;
  --text-colour: #000;
  --highlight-colour: rgb(26, 83, 217);
  --secondary-highlight: rgb(60, 207, 135);
}

html {
  background: var(--bg);
}

body {
  max-width: var(--max-readable-width);
  margin: 0 auto;
  padding: 1rem 0 0 0;
  background-image: url(ipfs.svg);
  background-repeat: no-repeat;
  background-size: 100px;
  background-position-x: right;
  background-position-y: 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  font-family: var(--body-family);
  font-weight: 300;
}

header {
  margin-bottom: 4rem;
}

h1 {
  font-family: var(--heading-family);
  max-width: calc(100% - (100px + 1rem));
  font-size: 3rem;
  margin: 0.15rem 0 0 0;
}
p#last-modified {
  color: var(--highlight-colour);
  margin-top: -1rem;
  font-size: 1.6rem;
}

a {
  color: var(--highlight-colour);
}

.toc, .toc ol, .toc ul, .toc li {
  line-height: 1.1em;
  list-style: none;
  margin: 0;
  padding: 0;
}
.toc li {
  clear: both;
}
.toc > li {
  margin: 1.5rem 0;
  font-weight: bold;
}
.toc > li li {
  margin: 0.3rem 0;
}
.toc > li li {
  font-weight: normal;
}
.toc a {
  padding: 0.1rem 1px 0;
  display: block;
  text-decoration: none;
  color: var(--text-colour);
}
.toc a:hover, .toc a:focus {
  color: var(--highlight-colour);
}
#toc .toc .secno {
  margin-left: -4rem;
}
.toc .secno {
  float: left;
  width: 4rem;
  white-space: nowrap;
}
body:not(.toc-inline) :not(li) > .toc {
  margin-left: 4rem;
}
