
@import url(core.css);
@import 'prismjs/themes/prism-coy.css';

body {
  max-width: var(--max-readable-width);
  margin: 0 auto;
  padding: 0 0 0 0;
  line-height: 1.5;
  font-family: var(--body-family);
}

#ipseity-back-to-root {
  margin-bottom: 2rem;
  background: var(--standard-gradient);
  padding-left: 1rem;
  font-weight: 600;
  font-size: 0.9rem;
}
#ipseity-back-to-root a {
  color: var(--ipfs-off-white);
  text-decoration: none;
  transition: color 0.2s;
}
#ipseity-back-to-root a:hover {
  color: var(--ipfs-yellow);
}

header {
  background-image: url(ipfs-standards.svg);
  background-repeat: no-repeat;
  background-size: 100px;
  background-position-x: right;
  margin-bottom: 3rem;
  border-bottom: 0.25rem solid var(--ipfs-turquoise);
  padding-bottom: 2rem;
}
header dt {
  font-weight: var(--weight-regular);
}
header dd img {
  opacity: 0.5;
  transition: opacity .5s;
  background: var(--contrast-bg);
  border-radius: 2px;
  vertical-align: sub;
}
header dd img:hover {
  opacity: 1;
}
header dd a {
  text-decoration: none;
}
/* header::after {
  width: 100%;
  height: 5rem;
  background: var(--ipfs-brand-gradient-back);
  display: block;
  content: " ";
} */
/* border-bottom: 0.25rem solid var(--ipfs-turquoise);
padding-bottom: 1.25rem; */

h1 {
  font-family: var(--heading-family);
  max-width: calc(100% - (100px + 1rem));
  font-size: var(--size-h1);
  font-weight: var(--weight-semi-bold);
  margin: 0.15rem 0 0 0;
}
h2 { font-size: var(--size-h2); }
h3 { font-size: var(--size-h3); }
h4 { font-size: var(--size-h4); }
h5 { font-size: var(--size-h5); }
h6 { font-size: var(--size-p); }
h2, h3, h4, h5, h6 {
  margin: 3rem 0 0 0;
  font-weight: var(--weight-semi-bold);
}
.header-wrapper + section > .header-wrapper > :is(h3, h4, h5, h6) {
  margin-top: 1rem;
}
p#last-modified {
  color: var(--ipfs-ash-grey);
  margin-top: -1rem;
  font-size: 1.6rem;
}

p {
  margin: 1rem 0;
}

a {
  color: var(--link-colour);
}
a.bibref {
  text-decoration: none;
}

em.rfc2119 {
  font-variant: small-caps;
  text-transform: lowercase;
}

.toc, .toc ol, .toc ul, .toc li {
  line-height: 1.1em;
  list-style: none;
  margin: 0;
  padding: 0;
}
.toc li {
  clear: both;
}
.toc > li {
  margin: 1.5rem 0;
  font-weight: bold;
}
.toc > li li {
  margin: 0.3rem 0;
}
.toc > li li {
  font-weight: normal;
}
.toc a {
  padding: 0.1rem 1px 0;
  display: block;
  text-decoration: none;
  color: var(--fg);
}
.toc a:hover, .toc a:focus {
  color: var(--link-colour);
}
#toc .toc .secno {
  margin-left: -4rem;
}
.toc .secno {
  float: left;
  width: 4rem;
  white-space: nowrap;
}
body:not(.toc-inline) :not(li) > .toc {
  margin-left: 4rem;
}

:is(h2, h3, h4, h5, h6):not(#toc > h2) {
  position: relative;
  left: -.5em;
}
.header-wrapper {
  display: flex;
  align-items: baseline;
}
:is(h2, h3, h4, h5, h6) + a.self-link {
  color: inherit;
  order: -1;
  position: relative;
  left: -1.1em;
  font-size: 1rem;
  opacity: .5;
  transition: opacity .5s;
}
:is(h2, h3, h4, h5, h6) + a.self-link:hover {
  opacity: 1;
}
:is(h2, h3) + a.self-link {
  top: -.2em;
}
:is(h2, h3, h4, h5, h6) + a.self-link::before {
  content: "§";
  text-decoration: none;
  color: var(--secondary-highlight);
}

dfn {
  font-weight: bolder;
}

/* override Prism */
pre[class*="language-"]::before, pre[class*="language-"]::after {
  box-shadow: none;
}
pre[class*="language-"] > code {
  border-left-width: 0.4rem;
}
code, kbd, samp, pre[class*="language-"] > code {
  font-size: 0.9rem;
}

div.issue, div.warning, div.note, div.example {
  border-left: 0.4rem solid;
  padding-left: 0.6rem;
  position: relative;
}
div.issue { border-color: var(--issue-colour); }
div.warning { border-color: var(--warning-colour); }
div.note { border-color: var(--note-colour); }
div.example { border-color: var(--example-colour); }
div.issue::before, div.warning::before, div.note::before, div.example::before {
  display: block;
  position: absolute;
  left: -2rem;
  font-size: 0.8rem;
  writing-mode: sideways-lr;
  white-space: nowrap;
}
div.issue::before { content: "issue 🚧"; }
div.warning::before { content: "warning ⚠️"; }
div.note::before { content: "note 📔"; }
div.example::before { content: "eg. 🐈"; }

.bibliography dt {
  font-weight: bold;
}

#ipseity-reports {
  position: fixed;
  top: 1rem;
  right: 1rem;
  font-size: 0.9rem;
}
#ipseity-reports details[open] {
  background: var(--bg);
  border-bottom: 1px solid #666;
}
#ipseity-reports summary {
  font-weight: bold;
  color: #fff;
  border-radius: 0.2rem;
  padding: 0.2rem 0.4rem;
  cursor: pointer;
}
#ipseity-reports details:not([open]) summary::marker {
  content: "";
}
#ipseity-reports .ipseity-errors summary {
  background-color: red;
}
#ipseity-reports .ipseity-warnings summary {
  background-color: orange;
}

@media only screen and (max-width: 816px) {
  body {
    margin-left: 2rem;
    margin-right: 1rem;
    font-size: 1rem;
  }
  header {
    background-size: 50px;
  }
  h1 {
    font-size: 2rem;
  }
  p#last-modified {
    margin-top: -0.8rem;
    font-size: 1.2rem;
  }
}

@media print {
  body {
    font-size: 1rem;
  }
  .self-link {
    display: none;
  }
  h2, h3, h4, h5, h6 {
    margin-top: 1rem;
    margin-bottom: 0;
  }
  :is(h2, h3, h4, h5, h6):not(#toc > h2) {
    left: 0;
  }
  pre[class*="language-"] > code {
    background-image: none;
  }
  #back-to-top, #ipseity-reports {
    display: none;
  }
}
